@charset "UTF-8" ;

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}





main{
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

section#celular{
   position: absolute;
   top: 50%;
   left: 50%;
   transform:  translate(-50%, -50%);

   height: 627px;
   width: 311px;
   background: url('imagens/frame-iphone.png') no-repeat;
}

iframe {
    position: absolute;
    top: 315px;
    left: 155px;
    transform: translate(-50%, -50%);
    width: 269px;
    height: 471px;
   
}

img {
    position: relative;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
    
}
section#redes-sociais{
    text-align: right;
}

section#redes-cociais img:hover{
    border: 2px rgba(255, 255, 255, 0.541);
}


