@charset "UTF-8" ;


body{
    background-image: url(imagens/fundo-madeira.jpg);
    width: 100vw;
    background-repeat: no-repeat;
    
}

#celular{
    background-image: url(imagens/frame-iphone.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

#tema{
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

iframe{
    background-position: center;  
    height: 600px;
    
}


 



